:root {
  --brand: #7d4cdb;
  --bg: white;
  --text-color: black;
  --link: blue;
}

.dark-theme {
  --brand: #81fced;
  --bg: black;
  --text-color: papayawhip;
  --link: #fd6fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: var(--bg);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--link);
}

/* mobile */
@media (max-width: 600px) {
  .responsive-margin-vertical {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* tablet */
@media (min-width: 600px) {
  .responsive-margin-vertical {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .responsive-margin-vertical {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}
